<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="DirectoryPath" value="LDAP://PTT.CORP"></add>
    <add key="DirectoryDomain" value="PTT"></add>
  </appSettings>
</configuration>
