<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="ServiceMode" value="test" />
    <add key="SMSGatewaySever" value="203.170.228.190" />
    <add key="SMSGatewaySeverPort" value="2257" />
    <add key="SMSGatewaySever_url" value="http://203.170.228.190:2257/" />
    <add key="SMSLOGFILE" value="E:\\Appl_test\\SMSPIPELINE\\LOG\\SMSLOG.txt" />
    <add key="ChartImageHandler" value="E:\\Appl_test\\SMSPIPELINE\\TempImageFiles" />
    <add key="myBasePath" value="E:\\Appl_test\\SMSPIPELINE\\LOG\\LOGPOST.txt" />
  </appSettings>
  <connectionStrings>
    <add name="OracleDatabase" connectionString="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.15.39)(PORT = 1526) ))(CONNECT_DATA =  (SERVICE_NAME = TSTAGING) ) );User Id= SMSPIPE;Password= test4456;"/>
    <add name="SQLDatabase" connectionString="Server=hq-db-v07;Database=PIS;User Id=pisread;Password=pis@dm1n;"></add>
    <add name="OracleDatabase2" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.15.39)(PORT = 1526) ))(CONNECT_DATA =  (SERVICE_NAME = TSTAGING) ) );User Id= SMSPIPE;Password= test4456;"/>
  </connectionStrings>
</configuration>
