<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionStringPIS" value="Provider=SQLOLEDB.1;Data Source=hq-db-v07;User ID=pisread;Password=pis@dm1n;Initial Catalog=PIS"></add>
    <add key="connectionStringOracle" value="Provider=OraOLEDB.Oracle;Data Source=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 172.17.15.39)(PORT = 1526) ))(CONNECT_DATA = (SERVICE_NAME = TSTAGING) ) );User Id= SMSPIPE;Password= test4456;"></add>
  </appSettings>
</configuration>